<div class="container flex">
    <h2>News App</h2>
    <div class="navbar">
        <ul class="container flex nav-links">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="movies">Movies</a></li>
            <li><a routerLink="tech">Tech</a></li>
            <li>About</li>
        </ul>
    </div>
    <div class="searchbox flex">
        <input type="text" placeholder="Search..">
        <button>Search</button>
    </div>
</div>

<ul>
    <li><a routerLink="user/1">user1</a></li>
    <li><a routerLink="user/2">user2</a></li>
    <li><a routerLink="user/3">user3</a></li>
    <li><a routerLink="user/4">user4</a></li>
</ul>
<router-outlet></router-outlet>