<!-- typeof & increment/decrement cannot be used-->

<!-- string interpolation :- disabled={{disable}}  take it as string or number
property binding :- [disabled]=disable    string/number/boolean -->


<!-- <h2 *ngFor="let item of users" >{{item}}</h2> -->


<!-- <app-child-input [item]="data"></app-child-input> -->

<!-- <app-child-output (updateDataEvent)="updateData($event)"></app-child-output> -->

<!-- <input type="text" [(ngModel)]="name">
{{name}} -->

<!-- <h1>{{title | titlecase}}</h1> -->

<!-- <h1>{{title | slice:3:7}}</h1> -->

<!-- <h2>{{user | json }}</h2> -->
<!-- <h2>{{2.300 | number:'2.1-3'}}</h2> -->
  
<!-- <h2>{{10 | currency:'GBP'}}</h2> -->

<!-- <form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
    <input type="text" placeholder="Enter Name" name="username" ngModel>
    <br><br>
    <input type="password" placeholder="Enter password" name="password" ngModel>
    <br><br>
    <button>Login</button>
</form> -->

<app-nav></app-nav>